<template name="footer">

<footer id="footer" class="footer-light-1">
            <div class="container">

                <div class="row">
                    <div class="col-md-3 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>AvanCoop</h3>
                            <p>

                            </p>
                            <ul class="list-inline footer-social">
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                        <i class="fa fa-facebook"></i>

                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                                        <i class="fa fa-twitter"></i>

                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
                                        <i class="fa fa-google-plus"></i>

                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                                        <i class="fa fa-pinterest"></i>

                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                                        <i class="fa fa-linkedin"></i>

                                    </a>
                                </li>
                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-3 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>Contáctanos</h3>

                            <ul class="list-unstyled contact">
                                <li><p><strong><i class="fa fa-map-marker"></i> Dirección:</strong> León, Guanajuato, 302</p></li> 
                                <li><p><strong><i class="fa fa-envelope"></i> Correo electronico:</strong> <a href="mailto:direccion@avancoop.org">direccion@avancoop.org</a></p></li>
                                <li> <p><strong><i class="fa fa-phone"></i> Telefono:</strong> +52 123 123 123</p></li>
                                <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 1234 1234</p></li>
                                <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> AvanCoop</p></li>

                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-btm">
                            <span>&copy;2017. AvanCoop</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


</template>
